<header>
  <div class="logo">
    'hub
  </div>
  <form>
    <label for="search">Search</label>
    <input type="search" id="search">
  </form>
  <nav>
    <ul>
      <li><a href="#">Pull Requests</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">Gist</a></li>
    </ul>
  </nav>
  {{#if session.isWorking}}
    Connecting...
  {{else if session.isAuthenticated}}
      <button {{action "logOut"}}>Log Out</button>
  {{else}}
      <button {{action "logInWithGithub"}}>Log In</button>
  {{/if}}
</header>

{{outlet}}
