<div class="main repo-list">
  <h1>My Repos</h1>
  <ul>
    {{#each model as |repo|}}
      <li>
        {{#link-to "repo.index" repo.owner.login repo.name}}
          {{repo.name}}
        {{/link-to}}
        <span class="repo-description">{{repo.description}}</span>
      </li>
    {{/each}}
  </ul>
</div>
